<h1>投稿を編集する</h1>
<div>
  <%= form_with model: @post do |form|  %>
    <%= form.label :title, "ビーチ名" %>
    <%= form.text_field :title %>
    <%= form.text_area :content, rows: 5 %>
    <%= form.file_field :images, multiple: true %><br>
    <%= form.submit %>
  <% end %>
</div>
